@import "../../lib/ionic/scss/_variables.scss";
@import "../../lib/ionic/scss/_mixins.scss";
@import "ms-variables.scss";
@import "ms-mixins.scss";


.ms-inline-block {
    display: inline-block;
}

.ms-nomargin {
    margin: 0 !important;
}

.ms-nopadding {
    padding: 0 !important;
}