/***Ionic***/
$font-family-sans-serif:            '-apple-system', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
$font-family-light-sans-serif:      $font-family-sans-serif;

/***Custom***/
$highlight:                         #999;
$radibutton-size:                   22px;
$radiobutton-bordercolor:           #EDEDED;